#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# vim swap files
.*.swp
.sw?


#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#


#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# Finder metadata
.DS_Store
